span#thirdparty {
    font-weight:bold;
    text-decoration:underline;
}
div.box {
    width:150px;
    height:150px;
    line-height:150px;
    cursor:pointer;
    text-align:center;
    float:left;
}
div.box:hover {
    font-weight:bold;
    text-decoration:underline;
    width:140px;
    height:140px;
}
div#yes:hover {
    border-width:5px;
    border-color:green;
}
div#yes {
    border-width:1px;
    border-color:green;
    border-style:solid;
}
div#no:hover {
    border-width:5px;
    border-color:red;
}
div#no {
    border-width:1px;
    border-color:red;
    border-style:solid;
}
div.banner {
    background-color:#E1E1E1;
    background-image:url(../logo.png);
    background-position:40px 50%;
    background-repeat:no-repeat;
    padding:40px;
    padding-left:320px;
    font-family:'HelveticaNeueLTStd-UltLt', Helvetica, Arial, sans-serif;
    font-size:25px;
}
div.row {
    background-image:url(../ripple_small.png);
    background-repeat:no-repeat;
    background-position:0% 50%;
    padding:40px;
    border-bottom:1px solid #ebebeb;
    width:350px;
    margin:0 auto;
}
div.row span.name {
    margin-right:2em;
}
div#intro {
    text-align:center;
}
body {
    margin:0;
}
div#allowaccess {
    position:relative;
    border:thin dotted #303030;
}
div.clear {
    clear:both;
}
div.bottom {
    padding:30px;
}
img#icon {
    width:90px;
    vertical-align:middle;
}
form div {
    margin-top:10px;
}
span.key {
    font-size:18px;
    font-weight:bold;
    display:inline-block;
    width:150px;
}
div.menu {
    background-color:#59588F;
    padding:20px;
    padding-left:150px;
}
div.menu a {
    padding-left:20px;
    color:#34AFFE;
    text-decoration:none;
    cursor:pointer;
    font-size:14px;
    text-shadow:#000000 1px 1px; 
}
div.menu a:hover {
    text-decoration:underline;
}

div#apps {
    margin:0 auto;
    width:60%;
}
div.app {
    margin-top:10px;
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom:1px solid #ebebeb;
}
div.app img {
    vertical-align:middle;
    margin-right:15px;
}
