img#icon {
    width:90px;
    vertical-align:middle;
}
form div {
    margin-top:10px;
}
span.key {
    font-size:18px;
    font-weight:bold;
    display:inline-block;
    width:150px;
}
div.banner {
    background-image:url(../aperture_science.png);
    background-repeat:no-repeat;
    background-position:5% 50%;
    padding:40px;
    padding-left:125px;    
}
div.top {
    background-image:url(../objecthero.png);
    background-color:#78879B;
    min-height:500px;
    padding:40px;
}
body {
    margin:0;
    font-size:14px;
    font:normal x-small verdana,arial,helvetica,sans-serif;
    background-color:#00A69C;
}
